html,
body {
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-family: var(--font-family);
}

html {
  background-color: var(--bg-element);
}
